<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.number %}
      Episode {{ page.number }} | 
    {% elsif page.title %}
      {{ page.title }} | 
    {% endif %}
    {% if site.title %}{{ site.title }}{% endif %}
  </title>

  <!-- SEO -->
  <meta property="og:title" content="The Joy of Coding: Episode Guide" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" 
        content="http://localhost:4000/joy-of-coding-episode-guide/" />
  <meta property="og:site_name" content="The Joy of Coding: Episode Guide" />
  <link rel="canonical" 
        href="http://localhost:4000/joy-of-coding-episode-guide/" />

  <!-- RSS -->
  <link type="application/atom+xml" 
        rel="alternate" 
        href="http://localhost:4000/joy-of-coding-episode-guide/feed/episodes.xml" 
        title="The Joy of Coding: Episode Guide" />

  <!-- Stylesheets -->
  <link rel="stylesheet" 
        href="{{ "assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/css/app.css" | relative_url }}">
</head>
<body>
  {% include header.html %}
  
  <div class="wrapper">
    {{ content }}
  </div>

  {% include footer.html %}
</body>
</html>
