---
layout: default
---

<main>
  <div class="flex">
    <h2 class="flex-auto">Episode {{ page.number }}: {{ page.date | date: "%b %d, %Y" }}</h2>
    <div>
      <a class="button primary" href="{{ page.rate }}">Rate this episode</a>
    </div>
  </div>
  <iframe width="960" 
          height="540" 
          src="https://www.youtube-nocookie.com/embed/{{ page.watch.youtube }}"
          frameborder="0" 
          allow="accelerometer; 
                 autoplay; 
                 encrypted-media; 
                 gyroscope; 
                 picture-in-picture" 
          allowfullscreen>
  </iframe>
  <h3>Watch On</h3>
  <ul class="button-list">
    <li>
      <a class="button mozilla" href="{{ page.watch.air }}">Air Mozilla</a>
    </li>
    <li>
      <a class="button youtube" href="{{ page.watch.youtube }}">Youtube</a>
    </li>
  </ul>
  {{ content }} 
  <p>You can <a href="{{ page.agenda }}">view the original agenda on Evernote</a></p>
</main>
