---
layout: default
---

<main>
  <div class="flex">
    <h2 class="flex-auto">
      {{ page.title }}: {{ page.date | date: "%b %d, %Y" }}
    </h2>
    <div>
      <a class="button primary" href="{{ page.rate }}">Rate this episode</a>
    </div>
  </div>
  <div id="video-player"></div>
  <h3>Watch On</h3>
  <ul class="button-list">
    <li>
      <a class="button mozilla" href="{{ page.watch.air }}">Air Mozilla</a>
    </li>
    <li>
      <a class="button youtube" 
         href="https://invidio.us/watch?v={{ page.watch.youtube }}">
        Invidio.us
      </a>
    </li>
    <li>
      <a class="button youtube" 
         href="https://youtube.com/watch?v={{ page.watch.youtube }}">
        Youtube
      </a>
    </li>
  </ul>
  {{ content }} 
  <p>You can <a href="{{ page.agenda }}">view the original agenda on Evernote</a></p>
</main>

<!-- add an embedded video if DNT is set to false -->
<script>
  document.body.onload = createVideoPlayer;

  function createVideoPlayer() {
    if (navigator.doNotTrack != 1) {
      var createVideoPlayer = document.createElement("iframe");
      createVideoPlayer.height = "540";
      createVideoPlayer.id = "ivplayer";
      createVideoPlayer.width = "960";
      createVideoPlayer.src = 
        "https://invidio.us/embed/{{ page.watch.youtube }}";
      createVideoPlayer.style = "border: none;";

      var videoPlayer = document.getElementById("video-player");
      videoPlayer.appendChild(createVideoPlayer);  
    }
  }
</script>
