---
layout: default
---

<main>
  <h1 class="show-for-sr">The Joy of Coding: Episode Guide</h1>
  {{ content }} 

  <h2>Latest Episode</h2>
  {% assign latest_episode = site.episodes | last %}
  <h3>
    <a href="{{ latest_episode.url | relative_url }}">
      {{ latest_episode.title }}: {{ latest_episode.date | date: "%b %d, %Y" }}
    </a>
  </h3>
  <div id="video-player"></div>
  <div class="flex">
    <h4>Watch on:</h4>
    <ul class="button-list">
      <li>
        <a class="button mozilla" href="{{ page.watch.air }}">Air Mozilla</a>
      </li>
      <li>
        <a class="button youtube" 
           href="https://invidio.us/watch?v={{ page.watch.youtube }}">
          Invidio.us
        </a>
      </li>
      <li>
        <a class="button youtube" 
           href="https://youtube.com/watch?v={{ page.watch.youtube }}">
          Youtube
        </a>
      </li>
    </ul>
  </div>

  <h2>List of Episodes</h2>
  <table>
    <thead>
      <tr>
        <th>Episode Number</th>
        <th>Aired On</th>
        <th>Watch On</th>
      </tr>
    </thead>
    <tbody>
      {% assign episodes = site.episodes | reverse %}
      {% for episode in episodes %}
      <tr>
        <td>
          <a href="{{ episode.url | relative_url }}">
            {{ episode.title }}
          </a>
        </td>
        <td>{{ episode.date | date: "%b %d, %Y" }}</td>
        <td>
          <a href="{{ episode.watch.air }}"
             style="margin-right: 8px;">
            Air Mozilla
          </a>
          <a href="https://invidio.us/watch?v={{ episode.watch.youtube }}"
             style="margin-right: 8px;">
           Invidio.us
          </a>
          <a href="https://youtube.com/watch?v={{ episode.watch.youtube }}">
            Youtube
          </a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<!-- add an embedded video if DNT is set to false -->
<script>
  document.body.onload = createVideoPlayer;

  function createVideoPlayer() {
    if (navigator.doNotTrack != 1) {
      var createVideoPlayer = document.createElement("iframe");
      createVideoPlayer.height = "540";
      createVideoPlayer.id = "ivplayer";
      createVideoPlayer.width = "960";
      createVideoPlayer.src = 
        "https://invidio.us/embed/{{ latest_episode.watch.youtube }}";
      createVideoPlayer.style = "border: none;";

      var videoPlayer = document.getElementById("video-player");
      videoPlayer.appendChild(createVideoPlayer);  
    }
  }
</script>
